.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f0f8e8, #dcedc1, #b7d9a8);
  padding: 2rem;

  .illustration {
    flex: 1;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    //A supp
    img {
      width: 100%;
      max-width: 300px;
      height: auto;
    }
  }

  .login-card {
    flex: 1;
    max-width: 400px;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 1rem;
  }

  .full-width {
    width: 100%;
  }

  .text-center {
    text-align: center;
  }

  .mt-2 {
    margin-top: 1rem;
  }

  @media (max-width: 900px) {
    flex-direction: column;

    .illustration {
      max-width: 300px;
      margin-bottom: 1rem;
    }

    .login-card {
      max-width: 90%;
    }
  }

}