<h2 mat-dialog-title>
  {{ patient ? 'Modifier le patient' : 'Ajouter un patient' }}
</h2>

<mat-dialog-content [formGroup]="patientForm" class="form-grid">

  <!-- Prénom -->
  <mat-form-field appearance="fill">
    <mat-label>Prénom</mat-label>
    <input matInput formControlName="firstName" required>
    <mat-error *ngIf="fieldErrors['firstName']">{{ fieldErrors['firstName'] }}</mat-error>
  </mat-form-field>

  <!-- Nom -->
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="lastName" required>
    <mat-error *ngIf="fieldErrors['lastName']">{{ fieldErrors['lastName'] }}</mat-error>
  </mat-form-field>

  <!-- Date de naissance -->
  <mat-form-field appearance="fill">
    <mat-label>Date de naissance</mat-label>
    <input matInput type="date" formControlName="dateOfBirth" required>
    <mat-error *ngIf="fieldErrors['date']">{{ fieldErrors['date'] }}</mat-error>
  </mat-form-field>

  <!-- Genre -->
  <mat-form-field appearance="fill">
    <mat-label>Genre</mat-label>
    <mat-select formControlName="gender" required>
      <mat-option value="M">Masculin</mat-option>
      <mat-option value="F">Féminin</mat-option>
    </mat-select>
    <mat-error *ngIf="fieldErrors['gender']">{{ fieldErrors['gender'] }}</mat-error>
  </mat-form-field>

  <!-- Adresse -->
  <mat-form-field appearance="fill">
    <mat-label>Adresse</mat-label>
    <input matInput formControlName="postalAddress">
    <mat-error *ngIf="fieldErrors['postalAddress']">{{ fieldErrors['postalAddress'] }}</mat-error>
  </mat-form-field>

  <!-- Téléphone -->
  <mat-form-field appearance="fill">
    <mat-label>Téléphone</mat-label>
    <input matInput formControlName="phoneNumber" placeholder="+33612345678">
    @if (fieldErrors['phoneNumber']) {
      <mat-error>{{ fieldErrors['phoneNumber'] }}</mat-error>
    }
  </mat-form-field>

</mat-dialog-content>

<!-- Boutons -->
<mat-dialog-actions align="end">
  <button mat-stroked-button color="warn" (click)="cancel()">Annuler</button>
 @if (patient) {
   <button mat-raised-button color="primary" [disabled]="!patientForm.valid" (click)="save()">
     Enregistrer
   </button>
 } @else {
   <button mat-raised-button color="primary" [disabled]="!patientForm.valid" (click)="create()">
     Enregistrer
   </button>
 }
</mat-dialog-actions>

